<form method="post" action="contact-post.html">
    <div>
        <span>name</span>
        <span><input type="username" class="form-control" id="userName"></span>
    </div>
    <div>
        <span>e-mail</span>
        <span><input type="email" class="form-control" id="inputEmail3"></span>
    </div>
    <div>
        <span>subject</span>
        <span><textarea name="userMsg"> </textarea></span>
    </div>
    <div>
        <label class="fa-btn btn-1 btn-1e"><input type="submit" value="submit us"></label>
    </div>
</form>